# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/project.checksum
.pio/build/esp32-s3-devkitm-1/idedata.json
.pio/libdeps/esp32-s3-devkitm-1/integrity.dat
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.gitignore
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.piopm
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/API.md
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/idf_component.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/Kconfig
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/library.json
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/LICENSE
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/README.md
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.github/FUNDING.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.github/workflows/component.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.github/workflows/main.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/partitions.csv
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/sdkconfig.defaults
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/main/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/main/idf_component.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/main/main.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/spiffs/test.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/include/esp_ghota.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/include/semver.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/esp_ghota.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson_debug.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson_opt.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson_stream.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/semver.c
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
