# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/project.checksum
.pio/build/esp32-s3-devkitm-1/idedata.json
.pio/libdeps/esp32-s3-devkitm-1/integrity.dat
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.gitignore
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.piopm
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/API.md
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/idf_component.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/Kconfig
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/library.json
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/LICENSE
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/README.md
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.github/FUNDING.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.github/workflows/component.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.github/workflows/main.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/partitions.csv
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/sdkconfig.defaults
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/main/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/main/idf_component.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/main/main.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/spiffs/test.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/include/esp_ghota.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/include/semver.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/esp_ghota.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson_debug.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson_opt.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson_stream.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/semver.c
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantTag.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantTo.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/Visitor.hpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.gitignore
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.gitmodules
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.piopm
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/library.json
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/library.properties
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/platformio.ini
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/README.md
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.github/workflows/ci-arduino-esp32.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.github/workflows/ci-arduino-esp8266.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.github/workflows/ci-platformio-esp32.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.github/workflows/ci-platformio-esp8266.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/data/file.txt
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/.gitignore
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/ESP32_example.ino
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/platformio.ini
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/.github/workflows/arduino.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/.github/workflows/platformio.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/data/log.txt
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/.gitignore
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/ESP8266_example.ino
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/platformio.ini
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/.github/workflows/arduino.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/.github/workflows/platformio.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/data/.version
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/data/old.txt
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/common.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/GitHubFsOTA.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/GitHubOTA.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/semver_extensions.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/semver.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/common.cpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/GitHubFsOTA.cpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/GitHubOTA.cpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/semver_extensions.cpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/semver.c
