# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/project.checksum
.pio/build/esp32-s3-devkitm-1/idedata.json
.pio/libdeps/esp32-s3-devkitm-1/integrity.dat
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.gitignore
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.piopm
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/API.md
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/idf_component.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/Kconfig
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/library.json
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/LICENSE
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/README.md
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.github/FUNDING.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.github/workflows/component.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/.github/workflows/main.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/partitions.csv
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/sdkconfig.defaults
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/main/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/main/idf_component.yml
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/main/main.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/examples/esp_ghota_example/spiffs/test.txt
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/include/esp_ghota.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/include/semver.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/esp_ghota.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson_debug.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson_opt.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson_stream.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson.c
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/lwjson.h
.pio/libdeps/esp32-s3-devkitm-1/esp_ghota/src/semver.c
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantTag.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantTo.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/Visitor.hpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.gitignore
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.gitmodules
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.piopm
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/library.json
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/library.properties
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/platformio.ini
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/README.md
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.github/workflows/ci-arduino-esp32.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.github/workflows/ci-arduino-esp8266.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.github/workflows/ci-platformio-esp32.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/.github/workflows/ci-platformio-esp8266.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/data/file.txt
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/.gitignore
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/ESP32_example.ino
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/platformio.ini
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/.github/workflows/arduino.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/.github/workflows/platformio.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP32_example/data/log.txt
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/.gitignore
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/ESP8266_example.ino
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/platformio.ini
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/.github/workflows/arduino.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/.github/workflows/platformio.yml
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/data/.version
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/examples/ESP8266_example/data/old.txt
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/common.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/GitHubFsOTA.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/GitHubOTA.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/semver_extensions.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/include/semver.h
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/common.cpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/GitHubFsOTA.cpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/GitHubOTA.cpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/semver_extensions.cpp
.pio/libdeps/esp32-s3-devkitm-1/Esp-GitHub-OTA/src/semver.c
.pio/build/esp32-s3-devkitm-1/.sconsign310.dblite
.pio/build/esp32-s3-devkitm-1/bootloader.bin
.pio/build/esp32-s3-devkitm-1/firmware.bin
.pio/build/esp32-s3-devkitm-1/firmware.elf
.pio/build/esp32-s3-devkitm-1/firmware.map
.pio/build/esp32-s3-devkitm-1/partitions.bin
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/.piopm
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/ArduinoJson.h
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/library.json
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/library.properties
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/LICENSE.txt
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/README.md
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/JsonConfigFile/JsonConfigFile.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/JsonFilterExample/JsonFilterExample.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/JsonGeneratorExample/JsonGeneratorExample.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/JsonHttpClient/JsonHttpClient.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/JsonParserExample/JsonParserExample.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/JsonServer/JsonServer.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/JsonUdpBeacon/JsonUdpBeacon.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/MsgPackParser/MsgPackParser.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/ProgmemExample/ProgmemExample.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/examples/StringExample/StringExample.ino
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson.h
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/CMakeLists.txt
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/compatibility.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Configuration.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Namespace.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/version.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Array/ElementProxy.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Array/JsonArray.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Array/JsonArrayConst.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Array/JsonArrayImpl.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Array/JsonArrayIterator.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Array/Utilities.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Collection/CollectionData.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Collection/CollectionImpl.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/DeserializationError.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/DeserializationOptions.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/deserialize.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/Filter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/NestingLimit.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/Reader.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/Readers/ArduinoStreamReader.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/Readers/ArduinoStringReader.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/Readers/FlashReader.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/Readers/IteratorReader.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/Readers/RamReader.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/Readers/StdStreamReader.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Deserialization/Readers/VariantReader.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Document/BasicJsonDocument.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Document/DynamicJsonDocument.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Document/JsonDocument.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Document/StaticJsonDocument.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Json/EscapeSequence.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Json/JsonDeserializer.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Json/JsonSerializer.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Json/Latch.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Json/PrettyJsonSerializer.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Json/TextFormatter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Json/Utf8.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Json/Utf16.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Memory/Alignment.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Memory/MemoryPool.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Misc/SerializedValue.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/MsgPack/endianess.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/MsgPack/ieee754.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/MsgPack/MsgPackDeserializer.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/MsgPack/MsgPackSerializer.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Numbers/arithmeticCompare.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Numbers/convertNumber.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Numbers/FloatParts.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Numbers/FloatTraits.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Numbers/JsonFloat.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Numbers/JsonInteger.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Numbers/parseNumber.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Object/JsonObject.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Object/JsonObjectConst.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Object/JsonObjectImpl.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Object/JsonObjectIterator.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Object/JsonPair.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Object/MemberProxy.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/alias_cast.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/assert.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/attributes.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/ctype.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/integer.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/limits.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/math.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/pgmspace_generic.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/pgmspace.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/preprocessor.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/utility.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/mpl/max.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/conditional.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/declval.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/enable_if.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/integral_constant.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_array.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_base_of.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_class.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_const.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_convertible.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_enum.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_floating_point.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_integral.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_pointer.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_same.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_signed.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_unsigned.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/make_unsigned.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/make_void.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/remove_const.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/remove_cv.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/remove_reference.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/type_identity.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/CountingDecorator.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/measure.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/serialize.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/Writer.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/Writers/ArduinoStringWriter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/Writers/DummyWriter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/Writers/PrintWriter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/Writers/StaticStringWriter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/Writers/StdStreamWriter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Serialization/Writers/StdStringWriter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/IsString.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/JsonString.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/StoragePolicy.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/StringAdapter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/StringAdapters.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/StringTraits.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/Adapters/FlashString.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/Adapters/JsonString.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/Adapters/RamString.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Strings/Adapters/StringObject.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/StringStorage/StringCopier.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/StringStorage/StringMover.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/StringStorage/StringStorage.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/Converter.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/ConverterImpl.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/JsonVariant.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/JsonVariantConst.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/SlotFunctions.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantAttorney.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantCompare.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantContent.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantData.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantFunctions.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantImpl.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantOperators.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantRefBase.hpp
.pio/libdeps/esp32-s3-devkitm-1/ArduinoJson/src/ArduinoJson/Variant/VariantSlot.hpp
